<body>
<div _ngcontent-qbh-c10="" class="slider-wrapper">
    <div _ngcontent-qbh-c10="" class="slider-container">
        <div _ngcontent-qbh-c10="" data-order="1" class="slide active">
            <div _ngcontent-qbh-c10="" class="slide-content txt" contenteditable="true" ><% result1.forEach(function (result1) { %>
                 <!-- note you defined the field as Name not name -->
            
                <div _ngcontent-qbh-c10="" class="txt-wrapper"><span _ngcontent-qbh-c10="" class="copy"><%=result1.subtitle%></span>
                    <h2 _ngcontent-qbh-c10=""id="title"><%=result1.title%></h2>
                    <p _ngcontent-qbh-c10="" class="excerpt"><%=result1.description%></p>
                </div><% }) %>
            </div>
            <!-- <p id="save">Save Text</p>  -->
        </div>
    </div>
</div>
</body>