

    <div class="row">
          <br>
          <div class="col-md-2 col-sm-3 text-center">
            <a class="story-title" href="#">
               
              <img src="img:<%=receiveImage%>"  style="width:100px;height:100px" class="img-circle">
            
            </a>
  
          </div>
